<!DOCTYPE html>
<html>
    <head>
        <title>EJS Page</title>
    </head>
    <body>
        <% let name = '윤인성' %>
        <h1><%= name %></h1>
        <h1><%= 52 + 274 %></h1>
        <hr/>
        <% for(let i=0 ; i<10;i++){ %>
            <h2>The Square of <%=i%> is <%=i*i%></h2>
        <%}%>
    </body>
</html>